################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Win32
/.vs
/x64
/Debug
/packages
/Data
*.user
*.tlog
*.recipe
*.iobj
*.ipdb
*.log
*.obj
*.pdb
*.exe
*.txt
*.dat
*.msi